p {
  margin: 0px;
}

.card-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

.card-contadores {
  width: 33%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  align-content: space-evenly;
  border: 1px solid #f0f0f0;
  font-size: medium;
}

.card-content {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.div-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.div-secundario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px;
  font-weight: bold;
  width: 125px;
}

.div-contenedor {
  margin-top: -10px;
  margin-bottom: -10px;
}

.config-content {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  align-items: center;
}

.filter-data {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
}

.cotizaciones_p {
  margin-bottom: 5px;
  border-bottom: 1px dotted rgb(233, 233, 233);
  padding: 3px 0;
}

.cotizacion {
  font-weight: 700;
  color: #333;
}

.info_data {
  font-size: 0.8rem;
  color: rgb(196, 196, 196);
  max-width: 200px;
}

.totales {
  font-weight: 800;
  font-size: x-large;
  margin: 0px;
}

.descripcion {
  font-weight: 400;
  font-size: 14px;
}

.tags {
  min-height: 5px;
  font-size: .9rem;
  min-width: 20px;
  margin-right: 3px;
  border-radius: 4px;
}

.texto {
  font-size: 16px;
}

.numeros {
  font-size: 20px;
}


.ant-pagination-item {
  border-color: #00b33c;
}
.ant-pagination-item a {
  color: #00b33c;
}

.columna-color{
  color: #00b33c;
}

.hr1 {
  width: 100%;
  border-top: #f0f0f0;
  border-width: 2px;
  border-left: 0px;
}

.cancela-hr {
  width: 100%;
  border-width: 0px;
  padding: 1px 0px 1px 0px;
}

.dashed {
  border-style: dashed;
  border-width: 1px;
  padding: 10px;
  margin: -10px 0px -10px 0px;
  border-radius: 3px;
  border-color: #00b33c;
  max-height: 76.56px;
}

.ant-input:hover {
  border: 1px solid #00b33c;
}

/* .ant-btn {
  color: white;
  background-color: #00b33c;
} */

.ant-btn-primary {
  background: #00b33c;
  border: 1px solid #00b33c;
}

.ant-btn-primary:hover {
  background: #00b33c;
  border: 1px solid #00b33c;
  border-color: #00b33c;
  opacity: 0.9;
}

.ant-btn-default:hover {
  color:#00b33c;
  border-color: #00b33c;
}

.ant-checkbox-input {
  color: #00b33c;
}

.ant-btn:focus {
  color: #00b33c;
  border-color: #00b33c;
}

/* .ant-tooltip-open:focus {
  color: #00b33c;
} */

.ant-table-column-sorter-inner:active {
  color: #00b33c;
  background-color: #00b33c;
}

.anticon-caret-up:active {
  color: #00b33c;
}

.ant-btn-link {
  color: #00b33c;
}

.ant-dropdown-menu-item-selected {
  color: #00b33c;
  background-color: #F0FFEA;
}

.ant-dropdown-menu-item-active {
  color: #00b33c;
}

.ant-table-filter-trigger.active {
  color: #00b33c;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #00b33c;
  border-color: #00b33c;
}

.ant-table-column-sorter-up.active {
  color: #00b33c;
}

.ant-table-column-sorter-down.active {
  color: #00b33c;
}

.ant-input:hover {
  border-color: #00b33c;
}

.ant-input:focus, .ant.input-focused{
  border-color: #00b33c;
  box-shadow: 0 0 0 2px rgb(0 179 60 / 20%);
}